<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
                  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<bean id ="spring" class="org.demoSpring.SpringDemo" > 

  <!--  <constructor-arg type="java.lang.String" value="Sai" />
  
	 <constructor-arg type="int" value="25" />
 
 -->
  
 <constructor-arg index="0" value="vasudev" />
 <constructor-arg index="1" value="24" />
</bean>
</beans>